#container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#left-column {
    float: left;
    width: 200px;
    background-color: lightgray;
    text-align: right;
    padding: 5px;
    height: 100%;
}

#right-column {
    margin-left: 220px;
    width: 568px;
    padding: 5px;
}