html, body {
    height: 100%;
}

#container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#left-column {
    float: left;
    width: 200px;
    background-color: lightgray;
    text-align: right;
    padding: 5px 10px 5px 5px;
    min-height: 100%;
}

#left-column a:active, #left-column a:hover, #left-column a:link, #left-column a:visited {
    color: black;
    text-decoration: none;
}

#right-column {
    margin-left: 220px;
    width: 568px;
    padding: 5px;
}

#post-date {
    text-align: right;
    float: right;
}