#container {
    width: 100%
}

#left-column {
    float: left;
    width: 20%;
    background-color: lightgray;
    text-align: right;
    padding-right: 5%;
    margin-right: 5%;
    height: 100%
}

#right-column {
    float: left;
    width: 70%
}