<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Justin Moy's Blog - {{ page.title }}</title>
        <style>{% include css/columns.css %}</style>
    </head>
    <body>
        <div class="container main">
            {% include left-column.html %}
            <div id="right-column">
                <h1>{{ page.title }}<span class="right">{{ page.date|date_to_string }}</span></h1>
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>