<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Justin Moy's Blog - {{ page.title }}</title>
        <link rel="stylesheet" href="/css/columns.css" type="text/css">
    </head>
    <body>
        <div class="container main">
            {% include left-column.html %}
            <div id="right-column">
                <h3>{{ page.title }}<span class="right">{{ page.date|date_to_string }}</span></h3>
                {{ content }}
            </div>
        </div>
        <div class="container footer">
            Copyright &copy; 2013 Justin Moy
            <span class="right">Valid <a href="http://validator.w3.org/check?uri=referer">HTML</a> / <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></span>
        </div>
    </body>
</html>